<html>
    <head>
        <title>Anavduo blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Anavduo Blog</a></h1>
        </div>

        <div>
            <p>Publicada el 18.05.2019, 12:14</p>
            <h2><a href="">Se va la primera</a></h2>
            <p>Aquí estamos escribiendo en Sublime</p>
            <ul><li>Inscribirse</li><li>Levantarse temprano</li></ul><ul><li>prestar atencion<li><ul>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Se va la segunda</a></h2>
            <p>Otro parrafo para completar</p>
            <em>coming soon</em>
        </div>
    </body>
</html>